<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/css/styles.css">


</head>

<body>
    <div class="container">

        <div class="row user-dp-section">
            <div>
                <div class="col">
                    <img class="user-dp" src="/<%= userdata[0].photo %>" />
                </div>
            </div>
        </div>

        <div class="row child-section">
            <div class="col">

                <div class="user-name-display">
                    <p class="user-name-text"><%= userdata[0].name %></p>
                </div>
                
                <div class="user-status-display">
                    <p class="user-status-text">Children Profiles:</p>
                </div>

                <!-- <div class="user-status-dropdown">
                    <form method="POST">
                        
                        <select name="status">
                            <option value="Available" name="status"> Available </option>
                    
                            <option value="Busy" name="status"> Busy </option>
                    
                            <option value="Do Not Disturb" name="status"> Do Not Disturb </option>
                           
                        </select>    
                        
                        <br>
                        <button type="submit" class="btn"><i class="fa fa-exchange"></i></button>
                    </form>
                </div> -->

                <% childdata.forEach((child)=> {%>
                <div class="child-card">
                    <img class="child-dp" src="/<%= child.child_photo %>" />
                    <div class="child-info">
                        <p class="child-name-text"><%= child.child_name %></p>
                        <p class="child-activity-text">is currently <%= child.activity %>.</p>
                    </div>                   

                    <form action="/editchild/<%=child.id %>">
                        <button type="submit" class="btn"><i class="fa fa-edit"></i></button>
                    </form>

                    <form action="/delchild/<%=child.id %>">
                        <button type="submit" class="btn"><i class="fa fa-trash"></i></button>
                    </form>

                    <form action="/child/<%=child.id %>">
                        <button type="submit" class="btn"><i class="fa fa-chevron-right"></i></button>
                    </form>
                </div>
                <% }); %>

                <div class="child-card">
                    <form action="/addchild">
                        <button type="submit" class="btn"><i class="fa fa-plus"></i>    Add Child</button>
                    </form>
                </div>              
               

            </div>
        </div>

        <div class="row menu">
            <div>
                <div class="col-6"></div>

                <form action="/logout">
                    <button type="submit" class="btn"><i class="fa fa-times"></i> Logout </button>                
                </form>
               
                
                
            </div>
        </div>
    </div>






    </div>







</body>

</html>