<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="/css/styles.css">


</head>

<body>

  <div class="container">

    <div class="row user-dp-section">
      <div>
        <div class="col">
          <img class="user-dp" src="/<%=userdata[0].child_photo %>" />
        </div>
      </div>
    </div>

    <div class="row child-section">
      <div class="col">

        <div class="user-name-display">
          <p class="user-name-text"><%=userdata[0].child_name%></p>
        </div>

        <!-- <div class="user-status-display">
          <form method="POST">
            <input type="date" id="date" name="date" /><br />
            <input type="submit" value="Submit" />
          </form>
        </div>         -->

        <div class="child-status-dropdown">
          <form method="POST">
        
            <select name="activity">
              <option value="playing" name="activity"> Playing </option>
        
              <option value="eating" name="activity"> Eating </option>
        
              <option value="studying" name="activity"> Studying </option>

              <option value="bathing" name="activity"> Bathing </option>

              <option value="sleeping" name="activity"> Sleeping </option>         
            </select>

            <br>

            <input type="text" id="date" name="date" placeholder="Search (DD-MM-YYYY)" pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}" /><br />

            <button type="submit" class="btn"><i class="fa fa-exchange"></i></button>
          </form>
        </div>

          <!-- <div class="event-search">
            
          </div> -->

        <% eventdata.forEach((event)=> {%>
        
        <div class="child-card">
          <div class="child-card-padding">
          <div class="child-info">
            <p class="event-title-text"><%=event.title%></p>
            <p class="event-date-text">Entry Date: <%=event.date%></p>
            <p class="event-date-text">Entry Time: <%=event.time%></p>
            <img class ="event-image" src="/<%= event.image %>" />
            <p class="event-description-text"><%=event.description%></p>            
          </div>
          </div>
            <form action="/child/editevent/<%= event.event_id%>">
              <button type="submit" class="btn"><i class="fa fa-edit"></i></button>
            </form>
            
            <form action="/child/delevent/<%= event.event_id%>">
              <button type="submit" class="btn"><i class="fa fa-trash"></i></button>
            </form>
        </div>
        <% }); %>

        
        <div class="child-card">
          <form action="/child/addevent/<%= userdata[0].id%>">
            <button type="submit" class="btn"><i class="fa fa-plus"></i> Add New Event</button>
          </form>
        </div>

      </div>
    </div>

    <div class="row menu">
      <div>
        <div class="col">        
          <form class="form-menu-items" action="/user">
            <button type="submit" class="btn"><i class="fa fa-arrow-circle-left"></i> Back </button>
          </form>
        </div>
     </div>
    </div>
  </div>



</body>

</html>